/* -------shared styles------ */

.raleway-font {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    margin: 0;
    background: rgb(245, 248, 255);
}

.btn-primary {
    color: white;
    background-color: #4E47FF;
    border-radius: 10px;
    font-size: 1.1em;
    font-weight: 700;
    padding: 15px 40px;
    border: 0;

}

.btn-primary:hover {
    color: white;
    background-color: #f57d1a;
    border-radius: 15px;
    font-size: 1.5em;
    font-weight: 800;
    padding: 18px 35px;

}

section {
    margin-top: 150px;
}

.section-title {
    color: rgb(37, 36, 50);
    font-size: 42px;
    font-weight: 700;
}

/* ------header related styles----- */

header {
    background-image: url(images/Hero-bg.png);
    height: 698px;
}

/* ------nav related styles----- */


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
    padding-top: 20px;

}

.logo {
    color: #4E47FF;
    font-family: Inter;
    font-size: 38px;
    font-weight: 900;
}



/* ------banner related styles----- */
.banner {
    margin-top: 158px;
    text-align: center;
}

.title {
    color: rgb(37, 36, 50);
    font-size: 65px;
    font-weight: 700;
}

/* ------main related styles----- */

main {

    margin: 0 200px;
}

/* ----action section  styles----*/

.action {
    display: flex;
    justify-content: space-between;
}

.action-description {
    color: rgba(37, 36, 50, 0.5);
    font-size: 24px;
}

.action-column img {
    border-radius: 48px;
}

/* ----Joined Thousands of Productive Users----*/

.Users {
    text-align: center;
    border-radius: 24px;
    background: rgba(78, 71, 255, 0.1);
    padding: 50px 80px 50px 80px;

}

.user-rating {
    display: flex;
    justify-content: center;
    gap: 168px;

}

.user-data h1 {
    color: rgb(78, 71, 255);
    font-family: Inter;
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 0;
}

.user-data p {
    color: rgba(0, 0, 0, 0.5);
    font-family: Inter;
    font-size: 20px;
    text-align: center;
    margin-top: 0;
}


/* ----What our users say  styles----*/
.rating-post {
    font-family: Inter;
    display: flex;
    justify-content: space-between;
    gap: 70px;
    padding: 24px 0px;
}

#review-title {
    font-family: Raleway;
    text-align: center;
}

.post {
    width: 100%;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 10px 30px 0px rgba(37, 31, 36, 0.212);
}

.user {
    display: flex;
    align-items: center;
    gap: 20px;
}

.user-image {
    width: 130%;
    border-radius: 50%;
}

.user-info h3,
.user-info p {
    margin: 0;
    padding: 0;
}

.user-info p {
    margin-bottom: 0;
}

/* ----Form section styles----*/

.form {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;

}

.form-column {
    width: 50%;
}

.form-column h1 {
    color: rgb(0, 0, 0);
    font-size: 97px;
    font-weight: 700;
}

.form-column2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-column2 label {
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
}

.form-column2 input {

    border: none;
    border-radius: 10px;
    width: 80%;
    height: 70px;
    margin-bottom: 20px;

    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    padding-left: 20px;
}

textarea {
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    padding-top: 20px;
    padding-left: 20px;
    width: 497px;
    height: 135px;
    width: 80%;
    border: none;
    margin-bottom: 20px;
}

.form-btn {
    border-radius: 10px;
    border: none;
    width: 83%;
}

/* ----footer section styles----*/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 428px;
    background-color: white;

}

footer h1 {
    color: rgb(78, 71, 255);
    font-family: Inter;
    font-size: 100px;
    font-weight: 900;
    margin-bottom: 0;
}

footer p {
    width: 531px;
    margin-bottom: 30px;
    text-align: center;
}

.footer-link a {
    color: rgb(137, 135, 161);
    text-decoration: none;
    margin-right: 50px;
    margin-top: 100px;
}